* {
    font-family: 'Roboto';
    font-size: 14px;
    box-sizing: border-box;
    color: $colorText;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input, button, select, textarea, optgroup, option, label, div {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a,
button,
select {
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;

}

.container {
    width: 100% !important;
    max-width: 1170px;
    margin: 0 auto;
}