.header {
    margin-bottom: 20px;
    &__inner {
        padding-top: 17px;
    }
    &__top {
        display: flex;
        &--logo {
            margin-top: 2px;
            margin-right: 30px;
        }
        &--content {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__menu {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $colorGray;
        &--nav {
            height: 21px;
            li {
                display: block;
                float: left;
                height: 19px;
                margin-right: 21px;
                &:last-child {
                    margin-right: 0px;
                }
            }
            a {
                display: block;
                text-decoration: none;
                font-size: 11.6px;
                font-weight: 500;
                letter-spacing: 0.27px;
                &:hover {
                    border-bottom: 1px solid $colorText;
                }
            }
        }
        &--auth {
            margin-left: auto;
            height: 21px;
            a {
                float: left;
                text-decoration: none;
                font-size: 11.6px;
                font-weight: 500;
                letter-spacing: 0.23px;
                position: relative;
                padding-right: 15px;
                transition: 0.3s all ease-in-out;
                &::before {
                    content: "|";
                    position: absolute;
                    right: 0px;
                    top: 0;
                    background-color: transparent;
                    height: 10px;
                }
                &:last-child {
                    padding-right: 0px;
                    padding-left: 13px;
                    border: none;
                    &::before {
                        display: none;
                    }
                }
                &:hover {
                    color: $colorYellow;
                }
            }
            span {
                float: left;
                background-color: $colorText;
                margin-left: 9px;
                margin-right: 9px;
                height: 10px;
                width: 1px;
            }
        }
    }
    &__submenu {
        display: flex;
        flex: 1;
        margin-top: -1px;
    }
    &__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1px;
        &--inner {
            background-color: $colorGray;
            width: 253px;
            height: 70px;
        }
    }
    &__basket {
        margin-left: 30px;
        display: flex;
        &--menu {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            li {
                padding-bottom: 15px;
                &:last-child {
                    padding-bottom: 0px;
                }
                &.big {
                    a {
                        font-size: 14px !important;
                    }
                }
            }
            a {
                font-size: 12px;
                color: $colorText2;
                font-weight: 500;
                display: flex;
                position: relative;
                height: 13px;
                span {
                    margin-left: 30px;
                    display: block;
                    float: right;
                    text-decoration: underline;
                }
                img {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    object-fit: none;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &--preview {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 32px;
            a {
                margin-right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 72px;
                height: 72px;
                border: solid 1px #d9d9d9;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: none;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__contacts {
        margin-left: auto;
        margin-top: 21px;
        width: 183px;
        &--time {
            width: 100%;
            font-size: 12px;
            color: $colorText2;
            font-weight: 800;
            span {
                font-weight: 400;
                float: right;
            }
        }
        &--phone {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            a {
                font-size: 24.5px;
                font-weight: 800;
                text-decoration: none;
                white-space: nowrap;
                letter-spacing: -0.5px;
                transition: 0.3s all ease-in-out;
                &:hover {
                    color: $colorYellow;
                }
            }
        }
        &--city {
            border-top: 1px solid $colorGray;
            padding-top: 2px;
            span {
                font-size: 12px;
                font-weight: 500;
                color: $colorText2;
            }
            a {
                padding-top: 1px;
                font-size: 12px;
                font-weight: 500;
                border-bottom: 1px dashed $colorText2;
                float: right;
                text-decoration: none;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -9px;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 4px solid transparent;
                    border-left: 6px solid #252525;
                    transition: 0.3s all ease-in-out;
                }
                transition: 0.3s all ease-in-out;
                &:hover {
                    color: $colorYellow;
                    border-bottom: 1px dashed $colorYellow;
                    &::before {
                        border-left: 6px solid $colorYellow;
                    }
                }
            }
        }
    }
    &__nav {
        display: flex;
        height: 34px;
        margin-top: 26px;
        border-radius: 9px;
        overflow: hidden;
        background-color: transparent;
        box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.25);
        a {
            font-size: 14px;
            font-weight: 500;
            padding-left: 20px;
            padding-right: 20px;
            color: $colorWhite;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            letter-spacing: 0.27px;
        }
        &--search {
            width: 39px;
            background-color: $colorYellow;
            display: block;
            position: relative;
            padding-left: 15px !important;
            padding-right: 15px !important;
            img {
                position: absolute;
                width: 19px;
                height: 19px;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        &--sale {
            background-color: $colorYellow;
            color: $colorText3 !important;
            text-transform: uppercase;
            padding-left: 15px !important;
            padding-right: 15px !important;
            font-weight: 600 !important;
            transition: 0.3s all ease-in-out;
            &:hover {
                background-color: $colorText;
                color: $colorWhite !important;
            }
        }
        &--nav {
            display: flex;
            background-color: $colorText;
            height: 100%;
            flex: 1;
            padding-left: 60px;
            li {
                height: 100%;
                transition: 0.3s all ease-in-out;
                &.active {
                    background-color: $colorYellow;
                    a {
                        color: $colorText !important;
                    }
                }
                &:hover {
                    background-color: $colorYellowHover;
                    a {
                        color: $colorText3;
                    }
                }
            }
        }
    }
}
